<div class="main">
  <div class="form-heading">
    <h1>ドイツ語学習 Deutsch</h1>
    <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <%= form_tag("/users/#{@user.id}/update") do %>
        <input name="name" placeholder="ユーザー名" value="<%= @user.name %>">
        <input name="email" placeholder="メールアドレス" value="<%= @user.email %>">
        <input type="password" placeholder="パスワード" name="password" value="<%= @user.password %>"> 
        <button class="login-btn">変更</button>
      <% end %>
    </div>
  </div>
</div>