  <div class="main">
    <div class="form-heading">
      <h1>新規登録する</h1>
    </div>
      <div class="form-body">
        <%= form_tag("/users/create") do %>
          <input name="name" placeholder="ユーザー名" value="<%= @user.name %>">
          <input name="email" placeholder="メールアドレス" value="<%= @user.email %>">
          <input type="password" name="password" placeholder="パスワード (半角英数字を含む8-12文字)" value="<%= @user.password %>">
          <button class="login-btn">新規登録</button>
        <% end %>
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>