<div class="show-sidebar">
    <%= render partial: 'posts/account' %>
  <div class="mypage-menu">
    <%= render partial: 'mypage-posts' %>
  </div>
    <%= render partial: 'triangle-posts' %>
  </div>
</div>

<div class="posts-new">
  <div class="posts-new-main">
    <h2><i class="far fa-question-circle"></i>質問内容の入力</h2>
    <div class="posts-new-container">
      <h3 class="posts-form-heading">※140文字以内で入力してください</h3>
      <%= form_tag("/posts/create") do %>
        <div class="posts-new_form">
          <div class="posts-new_form-body">
            <% @post.errors.full_messages.each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>
            <textarea name="content", placeholder="こんにちは ! ってドイツ語でなんて言うの？"><%= @post.content %></textarea>
            <input type="submit" value="この内容で投稿">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>