<div class="show-sidebar">
  <%= render partial: 'posts/account' %>
  <div class="mypage-menu">
    <%= render partial: 'mypage-posts' %>
  </div>
    <%= render partial: 'triangle-posts' %>
  </div>
</div>

<div class="posts-show-main">
  <div class="posts-show-container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <%= (@user.name) %>さんの質問
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at.strftime(("%Y年%m月%d日 投稿")) %>
      </div>
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="far fa-thumbs-up like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="far fa-thumbs-up like-btn"> 役に立った</span>
        <% end %>
      <% end %>
      <%= @likes_count %>
    </div>
  </div>
</div>